<h3>Edit a guest</h3>

<form action="/guests/<%=@guest.id%>" method="POST">
  <p>Name: <input type="text" name="name" value="<%=@guest.name%>"></p>
  <p>Check if guest has RSVPd: <input type="checkbox" name="rsvp" value="true" <%='checked' if @guest.rsvp %>></p>
  <input type="submit" class="btn btn-success" value="Edit Guest">
</form>