<h3>Add a guest</h3>

<form action="/guests" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Check if already RSVP: <input type="checkbox" name="rsvp" value="true"></p>
  <input type="submit" value="Add Guest">
</form>