<h3>Edit Wedding</h3>

<form action="/wedding/edit" method="POST">
  <p>Name: <input type="text" name="name" value="<%=@wedding.name%>"></p>
  <p>Location: <input type="text" name="location" value="<%=@wedding.location%>"></p>
  <p>Date: <input type="date" name="date" value="<%=@wedding.date.strftime('%Y-%m-%d')%>"></p>
  <input type="submit" class="btn btn-success" value="Edit Wedding">
</form>