<h3>Create Wedding</h3>

<form action="/wedding" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Location: <input type="text" name="location"></p>
  <input type="date" name="date">
  <input type="submit" value="Create Wedding" class="btn btn-success">
</form>