<h1 class="text-center">Vendor List <a href="/vendors/new" class="btn btn-primary">Add Vendor</a></h1>

<div class="col-md-4 col-md-offset-4">
<ol>
<% @vendors.each do |vendor| %>
  <li><a href="/vendors/<%=vendor.id%>"><%= vendor.display %></a></li>
<% end %>

</ol>
</div>