<h1>Vendor List</h1>
<a href="/vendors/new">Add a new vendor</a>
<ol>
<% @vendors.each do |vendor| %>
  <li><a href="/vendors/<%=vendor.id%>"><%= "#{vendor.title}: #{vendor.name}" %></a></li>
<% end %>

</ol>