<h3>Add a vendor</h3>

<form action="/vendors" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Title: <input type="text" name="title"></p>
  <p>Cost: <input type="text" name="cost"></p>
  <input type="submit" class="btn btn-success" value="Add Vendor">
</form>