<h1>The Wedding Planner</h1>
<p>Welcome to The Wedding Planner app. TWP is a simple web application for managing guests and vendors for a wedding.</p>

<center>
  <a href="/signup" class="btn btn-lg btn-primary">Sign Up</a>
  <a href="/login" class="btn btn-lg btn-primary">Log In</a>
</center>