<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username" placeholder="Username"></p>
  <p>Email: <input type="email" name="email" placeholder="Email"></p>
  <p>Password: <input type="password" name="password" placeholder="Password"></p>
  <input type="submit" class="btn btn-success" value="Sign Up">
</form>